/*Center the divs,
// Set a width for the body
//set a width for the main-images and make the height as auto
// Use flexbox to align the main images horizontally
// Choose a background-color for the page
// Create a nav for the page 
// Overall make the home page look awesome
*/
*{
    box-sizing: border-box;
    background-color: beige;
}
body{
    width: 900px;
    margin: 0 auto;
}
.maindiv{
    margin-left: auto;
    margin-right: auto;
}
.heading{
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.heading h1{
    background-color: aquamarine;
    padding: 10px 10px;
    border-radius: 25%;
}
.recipesdiv{
    width: 850px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    height: 300px;
    justify-content: center;
}
.recipesdiv ul{
    display:flex;
    gap: 10px;
}
.recipesdiv ul li{
    display: flex;
    justify-content: space-between;
}
.recipesdiv ul li img{
    width: 250px;
}

